.card-group-wrapper {
  position: absolute;
  z-index: -1;
  width: 600px;
  top: 20%;
  right: -70%;

  @media (max-width: 330px) {
    width: 600px;
    right: -80%;
    top: 40%;
  }

  @media (min-width: 400px) {
    width: 1000px;
    right: -90%;
  }

  @media (min-width: 600px) {
    width: 1000px;
    width: 100%;
    top: -2.5%;
    right: -5%;
  }

  .card-group {
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;
    margin-top: 10%;
    pointer-events: none;
    position: relative;

    @media (max-width: 600px) {
      .blank-space {
        border: none;
      }
      color: transparent;
    }

    .first-card {
      font-size: 1.2em !important;
      z-index: 2;
      transform: rotate(-15deg) translateY(1.5em) translateX(0em);

      @media (min-width: 600px) {
        font-size: unset;
      }

      @media (max-width: 600px) {
        color: transparent;
      }
    }
    .second-card {
      font-size: 1.2em !important;
      z-index: 2;
      transform: rotate(4deg) translateY(0.5em) translateX(-4em);

      @media (min-width: 600px) {
        font-size: unset;
      }

      @media (max-width: 600px) {
        color: transparent;
      }
    }
  }
}

.homepage-section {
  padding: 10% 0 10%;
  height: 450px;

  a {
    cursor: pointer;
  }

  &.about {
    height: fit-content;

    .pick-option {
      background: black;
      border-radius: 50%;
      width: 1.2em;
      height: 1.2em;
      color: white;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  &.footer {
    text-align: center;
    height: 180px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    .link-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1%;

      .icon {
        margin-right: 5%;
        cursor: pointer;
      }
    }
  }

  &.title {
    display: flex;
    width: 100%;
  }

  @media (min-width: 600px) {
    padding: 5% 0 5%;
    height: 550px;
  }

  .title-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    .play-button-container {
      z-index: 5;
      margin-top: 5%;
      display: flex;
      justify-content: center;
      .play-button {
        width: 100px;
      }
    }
  }

  .title {
    font-family: "Helvetica" !important;
    font-weight: bolder !important;
  }

  .subtitle {
    margin-top: 5%;
  }
  &.even {
    background: white;
  }
}
