.card-group-wrapper {
  position: absolute;
  z-index: -1;
  width: 1000px;
  right: -90%;
  bottom: 50%;

  @media (min-width: 600px) {
    width: 100%;
    top: -2.5%;
    right: -5%;
  }

  .card-group {
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;
    margin-top: 10%;
    pointer-events: none;
    position: relative;

    .first-card {
      color: black;
      font-size: 1.2em !important;
      z-index: 2;
      transform: rotate(-15deg) translateY(1.5em) translateX(0em);

      @media (max-width: 600px) {
        .blank-space {
          border: none;
        }
      }
      @media (min-width: 600px) {
        color: white;
        font-size: unset;
      }
    }
    .second-card {
      color: white;
      font-size: 1.2em !important;
      z-index: 2;
      transform: rotate(4deg) translateY(0.5em) translateX(-4em);

      @media (min-width: 600px) {
        color: black;
        font-size: unset;
      }
    }
  }
}

.homepage-section {
  padding: 10% 0 10%;
  height: 450px;

  &.footer {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.title {
    display: flex;
    width: 100%;
  }

  @media (min-width: 600px) {
    padding: 5% 0 5%;
    height: 550px;
  }

  .title-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    .play-button-container {
      z-index: 5;
      margin-top: 5%;
      display: flex;
      justify-content: center;
      .play-button {
        width: 100px;
      }
    }
  }

  .title {
    font-family: "Helvetica" !important;
    font-weight: bolder !important;
  }

  .subtitle {
    margin-top: 5%;
  }
  &.even {
    background: white;
  }
}
