.turn-setup-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-flow: column;
  padding: 5%;

  .winning-cards {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-around;
    width: 100%;
  }
}
