.turn-setup-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: unset;
  flex-flow: column;
  padding: 5%;

  .winning-cards {
    margin-top: 1%;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-evenly;
    max-width: 100vw;
    width: 100%;

    .winner {
      min-width: 100px !important;
    }
  }
}
