.user-selection-container {
  width: 100%;
  height: 100%;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;

  .user-selection {
    display: flex;
    width: fit-content;
    align-items: center;
    height: fit-content;
    margin: 0 2% 1%;

    .playing-card {
      min-width: 150px !important;
    }

    &.selected {
      transform: scale(1.1) translateY(-1em) rotate(-1deg) !important;
    }
    .user-selection-card {
      font-size: 0.8em;
    }
  }
}

.submit-wrapper {
  display: flex;
  margin-bottom: 1%;

  .submit-text {
    margin-right: 5%;
  }
}
