.deck-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-form-card-content {

  .create-room-form {
    display: flex;
    flex-flow: column;

    .MuiFormControl-root {
      margin-bottom: 5%;
      @media (min-width: 600px) {
        margin-bottom: 2%;
      }
    }
  }

  .deck-checkbox-group {
    flex-direction: row;
  }
}

.form-container {
  height: 100%;
  overflow: auto;
}
