.deck-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-form-card-content {
  max-height: 400px;
  overflow: auto;

  @media (min-width: 600px) {
    max-height: 100%;
  }

  .create-room-form {
    display: flex;
    flex-flow: column;

    .MuiFormControl-root {
      margin-bottom: 5%;
      @media (min-width: 600px) {
       margin-bottom: 2%;
      }
    }
  }
}
