.game-border-container {
  height: 100%;
  display: flex;
  flex-flow: column;

  .card-selector-container {
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10%;
    position: absolute;
    bottom: 0;

    @media (min-width: 600px) {
      position: unset;
      margin-left: 0%;
      width: 100%;
      overflow: none;
    }
  }
}

.header {
  flex: 0 0 auto;
}

.game-container-content {
  display: flex;
  flex: 1 1 auto;

  .left-content {
    width: 100%;
    display: flex;
    flex-flow: column;

    @media (min-width: 600px) {
      width: 85%;
    }
  }

  .top-content {
    display: flex;
    width: 100%;
    flex: 1 1 auto;

    .black-card-container {
      margin-left: 2%;
      
      @media (min-width: 600px) {
        width: 200px;
      }

      .master-black-card {
        @media (min-width: 600px) {
          position: absolute;
          width: 200px;
        }
      }
    }
  }

  .game-container-children-wrapper {
    flex: 1 1 auto;
    padding: 0 2%;
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: auto;
    max-height: 400px;
  }

  .players-container {
    flex-grow: 0;
    flex-shrink: 1;
    width: 15%;
    min-width: 200px;
    height: 100%;
    max-height: 500px;
    display: none;

    @media (min-width: 600px) {
      display: block;
    }
  }
}

.players-list {
  height: 100%;
  overflow: auto;
}

.sub-header-container {
  display: flex;
  align-items: center;

  .round-number {
    margin-right: 5%;
  }

  .timer {
    margin-right: 5px;
    line-height: 1px;
  }
}
