.game-border-container {
  height: 100%;
}

.game-container-content {
  display: flex;
  height: 90%;

  .game-container-children-wrapper {
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    width: 80%;
  }

  .players-container {
    flex-grow: 0;
    flex-shrink: 1;
    width: 20%;
  }
}

.players-list {
  display: flex;
  flex-flow: column;
}

.player-container {
  border: 1px solid grey;
  display: flex;
  flex-flow: column;
  padding: 10%;
}
