.game-border-container {
  height: 100%;
  display: flex;
  flex-flow: column;

  .card-selector-container {
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 600px) {
    }
  }
}

.MuiCardHeader-action {
  @media (max-wwidth: 600px) {
    margin-top: 0 !important;
  }
}

.header {
  flex: 0 0 auto;
  padding: 8px;

  @media (min-width: 600px) {
    padding: 16px;
  }
}

.game-container-content {
  display: flex;
  flex: 1 1 auto;
  padding: 0;

  @media (min-width: 600px) {
    padding: 16px;
  }

  .left-content {
    width: 100%;
    display: flex;
    flex-flow: column;

    @media (min-width: 600px) {
      width: 85%;
    }
  }

  .top-content {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
    flex-flow: column;
    @media (min-width: 600px) {
      flex-flow: row;
    }

    .black-card-container {
      display: flex;
      justify-content: center;
      box-sizing: border-box;

      @media (min-width: 600px) {
        position: unset;
        width: 400px;
        margin-left: 2%;
      }

      .master-black-card {
        font-size: 0.6em;
        flex-shrink: 1;
        flex-grow: 1;
        align-self: flex-start;

        @media (min-width: 400px) {
          font-size: 0.8em;
        }

        @media (min-width: 600px) {
          font-size: unset;
          flex-basis: calc(100vh * 0.22);
        }
      }
    }
  }

  .game-container-children-wrapper {
    flex: 1 1 auto;
    padding: 0 2%;
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    // max-height: 45vh;
    margin-top: 2%;
    padding: 0;
    @media (min-width: 600px) {
      margin-top: 0%;
      padding: 0 2%;
      // max-height: 65vh;
    }
  }

  .players-container {
    .player {
      flex-shrink: 0;
      margin-left: 5%;
      &.special {
        color: gold;
      }
    }
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
    overflow: auto;
    // display: none;
    position: absolute;
    bottom: 0.5%;
    display: flex;
    padding-top: 10%;

    @media (min-width: 600px) {
      padding: 0;
      min-width: 200px;
      max-height: 350px;
      width: 15%;
      justify-content: unset;
      bottom: unset;
      position: unset;
      display: block;
      height: 100%;
    }
  }
}

.players-list {
  height: 100%;
  overflow: auto;
}

.sub-header-container {
  display: flex;
  align-items: center;

  .round-number {
    margin-right: 5%;
  }

  .timer {
    margin-right: 5px;
    line-height: 1px;
  }
}
