.cards-list {
  display: flex;
  flex-flow: column;
  width: 100%;

  @media (max-width: 800px) {
    position: absolute;
    bottom: 4%;
  }

  .cards-action {
    flex-flow: row-reverse;
    .spacer {
      flex: 1 1 auto;
    }
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .submit-button {
      margin-left: 2%;
      margin-right: 2%;
      width: 50px !important;
      @media (min-width: 600px) {
        margin-right: 0%;
        width: 100px !important;
      }
    }

    .czar-message {
      margin-right: 2%;

      @media (min-width: 600px) {
        margin-right: 0%;
      }
    }
  }
  .scroll-wrapper {
    overflow: auto;
  }

  .cards-list-container {
    display: flex;
    justify-content: center;
    padding: 6% 2% 1%;
    width: 300%;
    overflow: auto;

    @media (min-width: 600px) {
      padding: 2% 2% 1%;
      width: 100%;
      overflow: none;
    }

    .card-selector-card {
      font-size: 0.6em;

      @media (min-width: 850px) {
        font-size: 0.8em;
      }
    }
  }
}
