.playing-card {
  text-rendering: optimizeLegibility;
  hyphens: none;
  font-family: "Helvetica" !important;
  font-weight: bolder !important;
  position: relative;
  width: 25%;
  perspective: 100vw;
  max-width: 400px;
  font-size: 0.5rem;
  box-sizing: border-box;

  @media (min-width: 600px) {
    font-size: 0.6rem;
  }
  @media (min-width: 800px) {
    font-size: 0.9rem;
  }

  .blank-space {
    display: block;
    height: 1em;
    flex-grow: 1;
    flex-basis: 2em;
    max-width: 7em;
    border-bottom: 0.1em solid white;
  }

  .aspect-ratio-wrapper {
    position: relative;
    aspect-ratio: 0.72;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-content {
    position: absolute;
    inset: 0 0 0 0;
    padding: 10%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    .text {
      .word {
        line-height: 2em;
      }
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  .options {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    .title-plugin {
      font-size: 0.4em;
    }

    .pick-option {
      margin-left: 2.5%;
      background: white;
      border-radius: 50%;
      width: 1.2em;
      height: 1.2em;
      color: black;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  cursor: pointer;
  border-radius: 5%;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);

  @media (min-width: 600px) {
    transition: all 0.5s ease;
  }

  &.selected {
    transform: scale(1.1) translateY(-1em) rotate(-1deg) !important;
  }

  &.black {
    background: black;
    color: white;
  }

  &.white {
    background: white;
    color: black;

    &.unselectable {
      background: grey;
      pointer-events: none;
    }
  }

  &:hover {
    @media (min-width: 600px) {
      transform: scale(1.1);
      z-index: 2;
    }
  }
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
