.nav-bar {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 0 8.5%;
  @media (min-width: 600px) {
    padding: 0 19.5%;
    height: 75px;
  }

  .username {
    display: none;

    @media (min-width: 600px) {
      display: block;
    }
  }

  #menu-appbar {
    margin-top: 1%;
  }

  .logo {
    font-family: "Helvetica" !important;
    font-weight: bolder;
    font-size: 1.2rem !important;
    cursor: pointer;

    @media (min-width: 600px) {
      font-size: 2.25rem !important;
    }
  }

  img {
    width: 200px;
    padding: 1%;

    @media (min-width: 600px) {
      width: 455px;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  .logout-button {
    width: 25px;
  }
}
