.rooms-container {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow-x: hidden;
}

.rooms-list {
  display: flex;
  flex-flow: wrap;
  height: 100%;
  overflow: auto;

  .room {
    margin-right: 5%;
    margin-bottom: 5%;
    flex: 1 1 auto;
    max-width: 50%;

    .room-title {
      text-transform: capitalize;
    }
  }
}

.create-button {
  margin: 1% 0 1% !important;
}
