.rooms-container {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.rooms-list {
  display: flex;
  flex-flow: wrap;
  max-height: 500px;
  overflow: auto;
}

.create-button {
  margin: 1% 0 1% !important;
}
