.rooms-container {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: hidden;

  .rooms-content-container {
    height: 100%;
    flex: 1 1 auto;
    overflow: auto;
  }

  .rooms-card {
    width: 100%;
    display: flex;
    flex-flow: column;
  }
}

.rooms-list {
  display: flex;
  flex-flow: wrap;
}

.create-button {
  margin: 1% 0 1% !important;
}

.app,
.MuiContainer-root {
  @media (max-width: 600px) {
    padding: 0;
    width: 100vw;
  }
}

.game-disconnected {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.card-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200% !important;
  height: 100%;
  padding: 0 10% 2%;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  margin-left: 5%;

  @media (min-width: 600px) {
    width: 80%;
  }

  .first-card {
    z-index: 2;
    transform: rotate(-15deg) translateY(1.5em) translateX(0em);
    font-size: 0.8em;

    @media (max-width: 600px) {
      .blank-space {
        border: none;
      }
    }
    @media (min-width: 600px) {
      font-size: 1em;
    }
  }
  .second-card {
    z-index: 2;
    transform: rotate(4deg) translateY(0.5em) translateX(-4em);
    font-size: 0.8em;

    @media (min-width: 600px) {
      font-size: 1em;
    }
  }
}
