.login-title {
  text-align: center;
  margin-bottom: 5% !important;
}

.login-wrapper {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.inner-login-container {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 250px;

  .header {
    text-align: center;
  }

  .input-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    min-width: 500px;

    .username-input {
      margin-right: 5%;
    }
  }
}
