.app-container {
  overflow-x: hidden;
  height: calc(100% - 50px);
}

.app {
  width: 100%;
  height: 95%;
  overflow-x: hidden;
  .backdrop {
    z-index: 999;
  }
  .title {
    text-align: center;
  }
}
