.spacer {
  flex: 1 1 auto;
}

.game-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  margin-left: 2%;

  .game-content {
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    padding: 0 2%;
  }
}

.generic-cards-wrapper {
  position: absolute;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 10%;
  top: 30%;

  @media (min-width: 600px) {
    top: unset;
  }
}
