.spacer {
  flex: 1 1 auto;
}

.cards-list {
  display: flex;
  flex-flow: column;
  width: 100%;

  .cards-list-container {
    display: flex;
    justify-content: center;
    overflow: auto;
    width: 100%;
  }
}

.game-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  width: 100%;
  .game-content {
    flex: 1 1 auto;
  }

  .card-selector-container {
    flex-grow: 0;
    flex-shrink: 0;
    height: fit-content;
    width: 100%;
  }
}

.user-selection {
  display: flex;
  width: fit-content;

  &.selected {
    border: 2px solid blue;
  }
}

// .container {
//   background-color: black;
//   position: relative;
//   width: 25%;
//   margin: 0 auto 0 0;
//   perspective: 100vw;
// }

// .inner {
//   height: 0;
//   padding-top: calc(1/0.72 * 100%);
// }

